.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 30px;
  row-gap: 60px;
  padding: 69px 70px 28px;
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 46px;
    padding: 70px 30px 12px;
  }
}

@media screen and (max-width: 767px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 37px;
    padding: 40px 10px 13px;
  }
}