.movies-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 30px;
  row-gap: 60px;
  margin: 70px auto 28px;
  max-width: 1140px;
  list-style-type: none;
}

.movies__more-box {
  margin: 0 auto;
  padding: 50px 70px 80px;
  max-width: 1140px;
}

.movies__more {
  padding: 11px 0 9px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  background-color: #F4F4F4;
  cursor: pointer;
  transition: all .5s ease;
}

.movies__more:hover {
  opacity: .8;
}

.movies__more_type_hidden {
  display: none;
}

@media screen and (max-width: 1279px) {
  .movies-list {
    max-width: 1139px;
  }
}

@media screen and (max-width: 899px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    row-gap: 46px;
    margin: 70px auto 12px;
    max-width: 708px;
  }

  .movies__more-box {
    padding: 50px 30px 80px;
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 37px;
    margin: 40px auto 13px;
    max-width: 300px;
  }

  .movies__more-box {
    padding: 50px 10px 80px;
    max-width: 300px;
  }
}