.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 74px 0 70px;
  max-width: 410px;
}

.profile__title {
  margin: 0;
  margin-bottom: 120px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  min-height: 298px;
}

.profile__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 17px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__box:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
}

.profile__label:last-of-type {
  border: none;
}

.profile__button {
  margin-top: auto;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease;
}

.profile__button:hover {
  opacity: .7;
} 

.profile__button_type_signout {
  margin-top: 16px;
  font-weight: 500;
  color: #EE3465;
}

@media screen and (max-width: 799px) {
  .profile {
    padding: 235px 0 269px;
  }

  @media screen and (max-width: 470px) {
    .profile {
      max-width: 350px;
    }
  }

  .profile__title {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 399px) {
  .profile {
    padding: 70px 0 40px;
    max-width: 260px;
  }

  .profile__form {
    min-height: 465px;
  }

  .profile__title {
    margin-bottom: 73px;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile__button_type_signout {
    margin-top: 16px;
  }
}