.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__link {
  margin-right: 10px;
  padding: 15px 20px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33px;
  color: #fff;
  background: #3456F3;
}

.navigation__link:last-child {
  margin-right: 0px;
}

.navigation__link:hover {
  opacity: .8;
}

.navigation__link_active {
  background: transparent;
  color: #000;
}

/* .navigation__btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 0.92;
}

.navigation__img {
  max-width: 10px;
  max-height: 10px;
} */

/* @media screen and (max-width: 1023px) {
  .navigation__link {
    margin-right: 14px;
    padding: 6px 15px;

    font-size: 10px;
    line-height: 1.6px;
  }
} */

@media screen and (max-width: 767px) {
  .navigation__link {
    margin-right: 2px;
    padding: 12px 12px;

    font-size: 10px;
    line-height: 1.6px;
  }
}