.sign {
  margin: 70px auto;
  max-width: 396px;
}

.sign__label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
}

.sign__input {
  margin-bottom: 20px;
  padding: 15px 0 15px 15px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  background-color: #F4F4F4;
  outline: none;
}

.sign__input:last-of-type {
  margin-bottom: 0;
}

.sign__error {
  margin-top: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
}

@media screen and (max-width: 799px) {
  .sign {
    margin: 232px auto;
  }
}

@media screen and (max-width: 399px) {
  .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 30px;
    max-width: 260px;
  }
}