.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
}
  
.techs__subtitle {
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__description {
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
}

.techs__list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 10px;
  list-style-type: none;
}

.techs__list-item {
  padding: 21px 0;
  width: 90px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  background: #E8E8E8;
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin: 80px auto 22px;
  }

  .techs__description {
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__list {
    margin-top: 83px;
    padding: 0 10px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
    background-color: #FAFAFA;
  }

  .techs__subtitle {
    margin: 60px auto 24px;
    font-size: 30px;
    line-height: 1.2;
  }

  .techs__description {
    font-size: 11px;
  }

  .techs__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px auto 0;
    padding: 0;
    max-width: 198px;

  }
}